@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

$red: #e53535;
$green: #6fb98f;
$yellow: #ffd800;
$bg: #004445;
.red {
    color: $red;
}

.green {
    color: $green;
}

.yellow {
    color: $yellow;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 100%;
    font-family: 'Baloo Chettan 2';
    background-color: $bg;
}

.header {
    margin-top: 2rem;
    width: 100%;

    .title {
        font-weight: 300;
        font-size: 6.5rem;
        color: whitesmoke;
        text-align: center;
    }

    .germ-icon {
        font-size: 6.5rem;
        padding-top: 5rem;
        margin: 0 3rem;
    }

    .location-text-container {
        width: 100vw;
        text-align: center;
    }

    .state-text {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 1rem;
        font-size: 4.5rem;
        color: $green;
        display: inline-block;
    }

    .country-text {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 1rem;
        font-size: 4.5rem;
        color: $green;
        display: inline-block;
    }
}

.sub-content {
    width: 100%;
    margin: 2.5rem 0;
    text-align: center;

    #countries-label,
    #states-label {
        display: block;
        font-size: 3.5rem;
        color: whitesmoke;
    }

    #country-location,
    #state-location {
        font-size: 2rem;
        margin-left: 1.5rem;
    }
}

.data-container {
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .container {
        margin: 0 auto;
        position: relative;

        color: whitesmoke;
        .data-title {
            text-align: center;
            font-size: 3.5rem;
        }
        h3 {
            width: 20rem;
            height: 10rem;
            text-align: center;
            padding-top: 1.2rem;
            font-size: 5rem;
        }

        #recovered {
            border: 1px solid $green;
        }

        #deaths {
            border: 1px solid $red;
        }

        #confirmed {
            border: 1px solid $yellow;
        }
    }
}
