@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
.red {
  color: #e53535; }

.green {
  color: #6fb98f; }

.yellow {
  color: #ffd800; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 100%;
  font-family: 'Baloo Chettan 2';
  background-color: #004445; }

.header {
  margin-top: 2rem;
  width: 100%; }
  .header .title {
    font-weight: 300;
    font-size: 6.5rem;
    color: whitesmoke;
    text-align: center; }
  .header .germ-icon {
    font-size: 6.5rem;
    padding-top: 5rem;
    margin: 0 3rem; }
  .header .location-text-container {
    width: 100vw;
    text-align: center; }
  .header .state-text {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
    font-size: 4.5rem;
    color: #6fb98f;
    display: inline-block; }
  .header .country-text {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
    font-size: 4.5rem;
    color: #6fb98f;
    display: inline-block; }

.sub-content {
  width: 100%;
  margin: 2.5rem 0;
  text-align: center; }
  .sub-content #countries-label,
  .sub-content #states-label {
    display: block;
    font-size: 3.5rem;
    color: whitesmoke; }
  .sub-content #country-location,
  .sub-content #state-location {
    font-size: 2rem;
    margin-left: 1.5rem; }

.data-container {
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .data-container .container {
    margin: 0 auto;
    position: relative;
    color: whitesmoke; }
    .data-container .container .data-title {
      text-align: center;
      font-size: 3.5rem; }
    .data-container .container h3 {
      width: 20rem;
      height: 10rem;
      text-align: center;
      padding-top: 1.2rem;
      font-size: 5rem; }
    .data-container .container #recovered {
      border: 1px solid #6fb98f; }
    .data-container .container #deaths {
      border: 1px solid #e53535; }
    .data-container .container #confirmed {
      border: 1px solid #ffd800; }
