* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 3rem;
  background: #404969;
  overflow: hidden; }

.container {
  width: 75%;
  padding: 4rem 4rem 0 4rem;
  border-radius: 3rem;
  margin: 0 auto;
  text-align: center; }
  .container .header {
    text-align: center; }
    .container .header .title {
      font-size: 5.5rem;
      color: #ffa258;
      text-shadow: 0.01rem 0.01rem;
      font-style: italic;
      transition: transform 1s ease;
      letter-spacing: 0.5rem;
      font-weight: 400; }
      .container .header .title:hover {
        transform: scale(1.2); }

.video-container {
  margin: 0 auto;
  transition: all 1s ease;
  position: relative;
  width: 70rem; }
  @media screen and (max-width: 465px) {
    .video-container {
      width: 100vw; } }
  .video-container video {
    width: 70rem;
    margin-top: 1.75rem;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .video-container .video-credits {
    color: #e0fcff;
    margin-top: 1rem;
    text-align: right; }

.interested-container .interested-title {
  font-size: 2rem;
  color: #ffa258; }

.interested-container .podcast-card {
  width: fit-content;
  margin: 1.5rem auto 0; }
  .interested-container .podcast-card .podcast-card__title {
    color: #e0fcff;
    font-size: 1.8rem;
    text-align: left;
    padding-bottom: 0.5rem;
    display: block; }
  .interested-container .podcast-card .podcast-card__credits {
    text-align: right; }
  .interested-container .podcast-card .podcast-card__credits-link {
    color: #e0fcff;
    font-size: 1.2rem; }
  .interested-container .podcast-card:hover {
    transform: scale(1.3); }

a {
  font-size: 1.3rem;
  color: #e0fcff;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-weight: 200; }
  a:visited {
    color: #e0fcff; }

span.react-logo {
  transform: scale(0.5);
  display: inline-block;
  position: relative;
  top: 50px; }

#canvas {
  animation: rotatze 4s linear infinite; }

@keyframes rotatze {
  100% {
    transform: rotate(360deg); } }
